<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.java.mapper.OaMeetingCustomMapper">

    <resultMap id="BaseResultMap" type="org.java.entity.OaMeetingCustom">
        <id column="m_id" property="mId" jdbcType="INTEGER" />
        <result column="m_title" property="mTitle" jdbcType="VARCHAR" />
        <result column="mp_id" property="mpId" jdbcType="INTEGER" />
        <result column="m_begintime" property="mBegintime"/>
        <result column="e_endtime" property="eEndtime"/>
        <result column="m_content" property="mContent" />
        <result column="wo_id" property="woId" jdbcType="VARCHAR" />
        <result column="m_state" property="mstate" jdbcType="INTEGER" />
        <result column="colorInfo" property="colorInfo" jdbcType="VARCHAR" />
        <result column="m_begintime" property="startTime" />
        <result column="e_endtime" property="endTime" />
        <result column="m_remark" property="mremark"/>
        <result column="m_type" property="mType"/>
    </resultMap>

    <sql id="Base_Column_List">
        m_id, m_title, mp_id, m_begintime, e_endtime, m_content, wo_id
    </sql>

     <select id="getMeetingAll" resultType="java.util.HashMap">
          SELECT m_id, m_title, om.mp_id, m_begintime, e_endtime, m_content, wo_id,op.mp_title
          FROM oa_meeting om,oa_mettingplace op WHERE op.mp_id=om.mp_id
    </select>

    <select id="getList" resultMap="BaseResultMap">
        SELECT * FROM  oa_meeting WHERE m_begintime BETWEEN #{start} AND #{end}
    </select>

    <select id="queryAll" resultMap="BaseResultMap">
        SELECT * FROM  oa_meeting WHERE m_begintime BETWEEN #{start} AND #{end}
    </select>

    <select id="getDetpPersonList" resultType="java.util.HashMap">
        SELECT wo_id,wo_name,de_name FROM oa_team_worker ow,oa_team_dept od WHERE ow.wo_deptId=od.de_id AND ow.wo_role!=1
    </select>

    <insert id="addInfo" parameterType="OaMeetingCustom">
        <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="mId">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO `oa_team_four`.`oa_meeting` (`m_id`, `m_title`,`mp_id`,`m_begintime`, `e_endtime`, `m_content`, `wo_id`, `m_state`,`colorInfo`,`m_remark`,`m_type`)VALUES
        (NULL,#{mTitle},#{mpId},#{startTime},#{endTime},#{mContent},#{woId},#{mstate},#{colorInfo},#{mremark},#{mType})
    </insert>

    <select id="queryCalendearById" parameterType="int" resultMap="BaseResultMap">
        SELECT * FROM  oa_meeting WHERE m_id=#{mid}
    </select>

    <select id="queryCalendearAllInfo" parameterType="int" resultType="java.util.HashMap">
       SELECT om.`m_id`, `m_title`, op.`mp_id`, `m_begintime`, `e_endtime`, `m_content`, ou.`wo_id`, `m_state`, `colorInfo`, `m_remark`, `m_type`
        FROM oa_meeting om,oa_mettinguser ou,oa_mettingplace op
        WHERE om.m_id=#{mid} AND om.mp_id=op.mp_id AND ou.m_id=om.m_id AND om.m_id=ou.m_id
    </select>

    <select id="selectInfoByMidAndWoId" resultType="java.util.HashMap">
        SELECT * FROM oa_mettinguser WHERE m_id=#{mId} AND wo_id=#{woId}
    </select>

    <update id="updateMeetingInfo" parameterType="java.util.HashMap">
        update oa_meeting
        <set>
            <if test="meetingNameChange != null">
                m_title = #{meetingNameChange},
            </if>
            <if test="mpIdChange != null" >
                mp_id = #{mpIdChange},
            </if>
            <if test="sDate != null" >
                m_begintime = #{sDate},
            </if>
            <if test="eDate != null" >
                e_endtime = #{eDate},
            </if>
            <if test="contentChange != null" >
                m_content = #{contentChange},
            </if>
            <if test="colorInfoChange != null" >
                colorInfo = #{colorInfoChange},
            </if>
            <if test="meetingTypeChange != null" >
                m_type = #{meetingTypeChange},
            </if>
            <if test="remarkChange != null" >
                m_remark = #{remarkChange}
            </if>
        </set>
        where m_id = #{mIdInfomation}
    </update>

    <delete id="deleteInfoByMid">
          DELETE FROM oa_mettinguser WHERE m_id=#{mId}
    </delete>
</mapper>